@charset "utf-8";

html {
    background-color: darkgrey;
}

body {
    background-color: darkblue;
    font-family: Verdana, 'Tacoma', Helvetica;
    font-size: 1.3em;
    color: black;
    width: 85%
    margin: 0 auto;
}

nav{
    color: black;
    width: 25%;
    padding: 30px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    display: horizontal;
}

a:link{
    text-decoration: none;
    
        
        
        

  
