@charset "utf-8";

html {
    background-color: rgb(23, 230, 230);
}

body {
    background-color: darkblue;
    font-family: 'Verdana', sans-serif;
    font-size: 1.3em;
    color: black;
    width: 85%
    margin: 0 auto;
}

h1{ 
  font-size: 3em;
  margin-top: 35px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: lightgrey;
}

h3{
    font-size: 2em;
    margin: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
    background-color: lightgrey;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 1.83em;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    background-color: darkgrey;
}

h3{
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    text-align: left;
    background-color: darkred;
}

p{
    margin: 15px;
    padding: 15px;
}

a:hover{
    color: hotpink;
}

a{
    text-decoration: none;
}

table{
    border: 1px solid black;
   padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 90%;
    margin-left: 30px;
}

nav{
    background-color: lightred;
    color: black;
    width: 25%;
    padding: 0px;
    margin: 0px;
    
        
        
        

  
