@charset "utf-8";

html {
    background-color: darkgrey;
}

body {
    background-color: darkblue;
    font-family: Verdana, 'Tacoma', Helvetica;
    font-size: 1.3em;
    color: black;
    width: 85%
    margin: 0 auto;
}

nav{
    background-color: light grey;
    color: black;
    width: 25%;
    padding: 30px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    display: horizontal;
}

header h1{
    font-size: 3em;
    margin: 35px 0px 0px 0px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: light grey;
}

header h3{
    font-size: 2em;
    margin: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
    background-color: light grey;
}

h1{
    font-family: Arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    
}
    
h3{
    font-family: Arial;
    font-size: 16pt;
    text-align: left;
    
}
    
p{
    margin: 15px;
    padding: 15px:
}

a:hover{
    color: pink;
}

table{
    border-spacing: 2px;
    padding: 5px 5px 2px 2px;
    width: 800px;
    margin-left: 30px;
    
}

section{
    background-color: lightblue;
    margin: 25px;
}
        
th{
    background-color: grey;
}

    
    
        
        
        

  
